# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo-reactjs-class/node_modules
/.pnp
.pnp.js

# testing
todo-reactjs-class//coverage
.vscode
# production
todo-reactjs-class//build

# misc
todo-reactjs-class/.DS_Store
todo-reactjs-class/.env.local
todo-reactjs-class/.env.development.local
todo-reactjs-class/.env.test.local
todo-reactjs-class/.env.production.local

todo-reactjs-class/npm-debug.log*
todo-reactjs-class/yarn-debug.log*
todo-reactjs-class/yarn-error.log*
