/* Reset */
:root {
    --text-color: #212529;
    --gray-light-color: #f8f9fa;
    --gray-mid-color: #dae0e5;
    --gray-dark-color: #cccccc;
    --green-success: #d4edda;
    --green-light-color: #13aa52;
    --green-dark-color:#158242;
    --blue-light-color: #007bff;
    --blue-dark-color: #0069d9;
    --dark-color-1: #5a6268;
    --dark-color-2: #343a40;
    --dark-color-2: #2C2C32;
    --light-color-1: rgba(41, 10, 10, 0.08);
    --white-color: #ffffff;
    --red-light-color: #f8d7da;
    --red-dark-color: #dc3545;
    --warning-light-color: #fff3cd;
    --warning-color: #ffc107;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.bg-dark {
    background-color: var(--dark-color-2);
}
.ml-10 {
    margin-left:1rem;
}
.mr-10 {
    margin-right:1rem;
}
.mt-20 {
    margin-top: 2rem;
}
.active {
    display: block
}
.line-through {
    text-decoration: line-through;
}
.opacity {
    opacity: .6;
}
/* Design pattern: Button */
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    height: calc(1.6em + 1.6rem + 2px);
    padding: .8rem 1.2rem;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.btn:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.15);
}
.btn.btn--green {
    background-color: var(--green-light-color);
    border-color: var(--green-dark-color);
}
.btn.btn--primary {
    background-color: var(--blue-light-color);
}
.btn.btn--secondary {
    background-color: var(--dark-color-1);
}
.btn.btn--light {
    background-color: var(--gray-light-color);
    color: var(--text-color);
    box-shadow: none;
    transition: background .2s;
}
.btn.btn--light:hover {
    background-color: var(--gray-mid-color);
}
.btn.btn--dark {
    background-color: var(--dark-color-2);
}
.btn.btn--disabled {
    color: rgb(129, 132, 135);
    background-color: rgb(232, 233, 233);
    background-image: none;
    box-shadow: none;
    cursor: not-allowed;
    border-color: rgb(186, 189, 190);
}
/* Design pattern: Button */
.form-group {
    position: relative;
}
.form-group label {
    pointer-events: none;
    position: absolute;
    color: var(--gray-dark-color);
    top: .8rem;
    left: 1.2rem;
    transition: .2s;
}
.form-group label:after {
    content:" :";
    display: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 1.6rem + 2px);
    padding: .8rem 1.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--white-color);
    background-clip: padding-box;
    border: 1px solid var(--gray-mid-color);
    outline: 0;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 3rem;
}
.form-control[type="submit"] {
    background-color: var(--blue-light-color);
    color: var(--white-color);
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.form-control[type="submit"]:hover {
    background-color: dodgerblue;
}
.form-control:focus {
    border-color: var(--gray-dark-color); 
}
.form-control:focus + label, input:valid + label {
    color: var(--text-color);
    top: -2.6rem;
    left: 0;
}
.form-control:focus + label:after, input:valid + label:after {
    display: inline;
}
/* Design pattern: alerts */
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 10px;
    padding: 1rem 2rem;
    font-weight: bold;
}
.alert.alert--danger {
    background-color: var(--red-light-color);
    border-color: var(--red-dark-color);
    color: var(--red-dark-color)
}
.alert.alert--warning {
    background-color: var(--warning-light-color);
    border-color: var(--warning-color);
}
.alert.alert--success {
    background-color:var(--green-success);
    border-color: var(--green-dark-color);
    color: var(--green-dark-color)
}

/* Design pattern: Table */
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge.badge--primary {
    background-color: var(--blue-light-color);
    color: var(--white-color)
}
.badge.badge--secondary {
    background-color: var(--dark-color-1);
    color: var(--white-color);
}
.badge.badge--success {
    background-color: var(--green-light-color);
    color: var(--white-color)
}
.badge.badge--danger {
    background-color: var(--red-dark-color);
    color: var(--white-color)
}
.badge.badge--warning {
    background-color: var(--warning-color);
    color: var(--text-color);
}
.badge.badge--light {
    background-color: var(--gray-mid-color);
    color: var(--text-color)
}
.badge.badge--dark {
    background-color: var(--dark-color-2);
    color: var(--white-color)
}
/* Design pattern: Table */
.table-classic {
    width: 100%;
    border-spacing: 0;
}
.table-classic th {
    border-bottom: 1px solid var(--gray-mid-color);
    font-weight: 700;
}
.table-classic th,td {
    padding: 1rem 0;
    text-align: center;
}
.table-classic th:nth-child(2),td:nth-child(2) {
    text-align: left;
}
/* Design pattern: header */
.header {
    height: 60px;
}
.header>.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
/* Style =========================================*/
#logo {
    color: #61dafb;
}
.link-item {
    color: var(--white-color)
}
.list-control__box {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.list-control__title {
    margin-bottom: 40px;
}
.list-control__title h1 {
    border-bottom: 1px solid var(--gray-mid-color);
}
.list-control__box:nth-child(2) {
    align-items: flex-end;
}
.add-item-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}
.search-form {
    display: flex;
}
.form-group:first-child {
    flex-basis: 58%;
}
.form-control {
    margin: 0;
}
.task-action {
    display: flex;
    justify-content: center;
}
